#cover{
    width:100%;
    height: 100%;
}
h1{
    text-align:justify;
}
button{
  position:fixed;
  right:600;
  left:600;
}
.loginInput{
position:fixed;
right:600;
left:600;
}
#title{
  position:fixed;
left:600;
right:600;
}

.boxes{
    background-color: lightgrey;
    width: 300px;
    padding: 25px;
    border: 25px solid navy;
    margin: 25px;
    text-align:center;
    
}
#box-frame{
    float:left;
    display:inline-block;
    margin-left:100px;
    background-color: lightgrey;
    width: 300px;
    padding: 25px;
    border: 25px solid navy;
    margin: 25px;
    text-align:center;
    }
#box-frame-2{
    float:right;
    display:inline-block;
    margin-left:500px;
    background-color: lightgrey;
    width: 300px;
    padding: 25px;
    border: 25px solid navy;
    margin: 25px;
    text-align:center;
    }
.contain{
    position:absolute;
    margin:0% 25%;
    bottom:10;
    width:50%;
    height:25%;
    background-color:green;
    
}

#dia{
    margin: 5% 10%;
     height:100px;
    
}
#background{
margin:10px;
    width:100%;
    height:100%;
    background-image: url("http://www.capespiritwallpapers.com/The%20City%20of%20Cape%20Town%20seen%20from%20Signal%20Hill.jpg");
    background-size: 100%, 100%;
    
}