#cover{
    width:100%;
    height: 100%;
}
h1{
    text-align:justify;
}
button{
  position:fixed;
  right:600;
  left:600;
}
.loginInput{
position:fixed;
right:600;
left:600;
}
#title{
  position:fixed;
left:600;
right:600;
}

.boxes{
    background-color: lightgrey;
    width: 300px;
    padding: 25px;
    border: 25px solid navy;
    margin: 25px;
    text-align:center;
    
}
#box-frame{
    margin-left:100px;
    background-color: lightgrey;
    width: 300px;
    padding: 25px;
    border: 25px solid navy;
    margin: 25px;
    text-align:center;
    }
#box-frame-2{
    margin-left:500px;
    background-color: lightgrey;
    width: 300px;
    padding: 25px;
    border: 25px solid navy;
    margin: 25px;
    text-align:center;
    }
.contain{
    position:absolute;
    margin:0% 25%;
    bottom:10;
    width:50%;
    height:25%;
    background-color:green;
    
}